/************
All Page Styling (Header/Footer)
************/
html {
	font-family: 'Cabin', sans-serif;
	position: relative;
}
body, html {
	height: 100%;
}

header {
	background-color: #556;
	overflow: auto;
}

body {
	background-color: white;
}

body, h1 {
	margin: 0;
	padding:0;
}

h1 {
	float: left;
	margin-left: 2VW;
	color: white;
}
nav {
	float: right;
	margin-right: 10Vw;
	text-align: center;
}

nav ul {
	list-style: none;
	padding: 0px;
	margin: 0;
}

nav ul li {
	display: inline-block;
	padding: 5px;
}

nav ul li a {
	margin: 2VW;
}

a {
	color: white;
	text-decoration: none;
}

footer {
	width: 100%;
	position: absolute;
	bottom: 5px;
	text-align: center;
}

#NavIndex {
	background-color: tomato;
}

#NavAbout {
	background-color: deepskyblue;
}

#NavPortfolio {
	background-color: limegreen;
}

#NavResume {
	background-color: indigo;
}

#NavContact {
	background-color: steelblue;
}

#navPhotos {
	background-color: magenta;
}

#navProgress {
	background-color: red;
}

#navFuture {
	background-color: orange;
}

/************
Page: Home;
************/
#homePage img {
	float: left;
	clear: both;
	margin-left: 10px;
	margin-bottom: 10px;
	height: 14Vh;
	margin-right: 10px;
}

.frontPageDivs {
	border-radius: 1.5625em;
	margin: 6VH 10Vw;
	min-height: 20Vh;
}

#homePage h2, #homePage p {
	margin-left: 30px;
	margin-top: 10px;
	margin-right: 20px;
	margin-bottom: 10px;
}


#about {
	background-color: deepskyblue;
}

#portfolio {
	background-color: limegreen;
}

#contact {
	background-color: steelblue;
}

/************
Page: About;
************/
#aboutMeBody {
	text-align: center;
}

#aboutMe, #aboutEducation, #aboutCoding {
	vertical-align: top;
}

#aboutMeList li {
	display: inline-block;
	border:5px solid green;
	margin: 1Vh 1Vw;
	min-height: 40Vw;
	width: 25%;
	border-radius: 15px;
	font-size: 1.25em;
}

#aboutMeList li img {
	margin: 0 auto;
	height: 15vh;
}

#aboutMePic {
	border-radius: 50%;
	border:5px solid indigo;
}



/************
Page: Portfolio;
************/

#iphonepic {
	max-height: 75vh;
	margin-left: 10vw;
	margin-top: 5vh;
}

#appDesc {
	margin-left: 10vw;
	margin-right: 10vw;
	margin-top: -5px;
}
#trakr {
	text-align: center;
	font-size: 2.5em;
	width: 100%;
}


/************
Page: Resume;
************/
#resumeContent h2 {
	text-align: left;
	border-bottom: 5px solid black;
}

#resumeContent {
	margin: 0 16vw;
}

#resumeContent ul {
	list-style: none;
}
#resumeContent ul li {
	display: inline-block;
}
#htmlLang, #cssLang, #OCLang {
	padding: 5px;
	border-radius: 15px;
}

#htmlLang {
	background-color: lightblue;
}

#cssLang {
	background-color: red;
}

#OCLang {
	background-color: yellow;
}

footer {
	bottom: 0;
	text-align: center;
	position: relative;
}



/************
Page: Contact;
************/
#contactLinks { 
	text-align:center;
}
#contactLinks li {
	display: inline-block; 
	padding: 3vw;
	margin: 25Vh 0 35Vh 0;
}

#contactLinks li img {
	width: 80px;
}




/************
Page: Photos;
************/
#photoGallery {
	text-align: center;
	list-style: none;
	padding: 0;
	margin: 0;
}
#photoGallery img{
	width: 100%;
}


/************
Page: Planning;
************/

#planningList {
	list-style: none;
	text-align: center;
}
#planningList img {
	max-width: 80%;
}

/************
Page: Future;
************/

table {
	margin: 10vh auto 20vh;
	border: 1px solid black;
}

table img {
	padding-left: 10px;
	width: 10vw;
}


/************
Page: Future;
************/


@media screen and (max-width: 480px) {
	h1 {
		text-align: center;
	}

	nav {
		width: 100%;
		margin: 0;
		padding:0;
	}
	nav ul li, #aboutMeList li {
		display: block;
	}
	#aboutMeList li {
		width: 90%;
	}


	#contactLinks li {
	display: block; 
	margin: 0 auto;
	padding: 0;
	}

	#contactLinks li img {
	width: 50vw;
	}

}







