/************
All Page Styling (Header/Footer)
************/
html {
	font-family: 'Cabin', sans-serif;
}

header {
	background-color: #556;
	overflow: auto;
}

body {
	background-color: white;
}

body, h1 {
	margin: 0;
	padding:0;
}

h1 {
	float: left;
	margin-left: 2VW;
	color: white;
}
nav {
	float: right;
	margin-right: 10Vw;
	text-align: center;
}

ul {
	list-style: none;
	padding: 0px;
	margin: 0;
}

ul li {
	display: inline-block;
	padding: 5px;
}

nav ul li a {
	color: white;
	margin: 2VW;
	text-decoration: none;
}

footer {
	width: 100%;
	position: absolute;
	bottom: 5px;
	text-align: center;
}

#NavIndex {
	background-color: tomato;
}

#NavAbout {
	background-color: deepskyblue;
}

#NavPortfolio {
	background-color: limegreen;
}

#NavResume {
	background-color: steelblue;
}

#NavContact {
	background-color: indigo;
}

/************
Page: Home;
************/
img {
	max-width: 100px;
}

.frontPageDivs {
	border-radius: 1.5625em;
	margin: 6VH 10Vw;
	min-height: 10Vw;
}

#about {
	background-color: deepskyblue;
}

#portfolio {
	background-color: limegreen;
}

#contact {
	background-color: indigo;
}

/************
Page: About;
************/


/************
Page: Resume;
************/
h2 {
	text-align: left;
	border-bottom: 5px solid black;
}

article {
	text-align: justify;
	margin: 0 16vw;
}

footer {
	bottom: 0;
	text-align: center;
	position: relative;
}

#printResume, footer p  {
	display: inline-block;
}

#printResume {
	float: left;
	height: 5vh;
	padding: 0;
}

/************
Page: Contact;
************/
#contactLinks { 
	display: block; 
	text-align:center;
	position: relative;
	top: 20vh;
}
#contactLinks li {
	display: inline-block; 
}


















